<nav class="navbar navbar-expand navbar-light bg-white topbar mb-2 static-top shadow py-1">
  <button class="btn btn-link d-md-none rounded-circle me-3 sidebar-toggle-top" (click)="toggleSidebar()">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <ul class="navbar-nav ms-auto">
    <li class="nav-item no-arrow">
      <a class="nav-link" role="button">
        <span class="me-2 d-inline text-gray-600 small">
          Juan Perez
        </span>
        <img class="img-profile rounded-circle"src="img/user.svg">
      </a>
    </li>
  </ul>
</nav>